
#titulo_principal{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 60px;
  text-align: right;
  margin-left: 20px;
  margin-top: -70px;
  margin-bottom: 5px;
  color: white;

}

.logo{

  align-items: center;
  margin-top: 0xp;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: -17px;
  background-color: hsla(50, 33%, 25%, .75);

}

#logoprincipal{

  align-items:center;
  width: 200px;


}

btn-group{

top: 0;


}


#eslogan{

  background-color: hsl(24, 100%, 55%);
  font-family: 'Amatic SC', cursive;
  font-size: 110px;
  text-align: center;
  margin-top: -17px;

}
