*{
	margin: 0;
	padding: 0;
	outline: 0;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
body{
	background-image: url('');
	background-size: cover;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="number"], textarea {
    width: 97%;
    height: 25px;
    margin: 0 0 15px;
    padding: 10px 1%;
    font-size: 18px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}


.main input[type="text"], .main input[type="password"] {
	text-align: center;

	border:0;
}


.main{
    margin-top: 0px;
}

.error{
    background-color: #E74F4F;
    position: absolute;
    top: 0;
    padding: 10px 0 ;
    border-radius:  0 0 5px 5px;
    color: #fff;
    width: 100%;
    text-align: center;
    display: none;
}
#buscar
{
  border: 1px solid #000000;
  border-right: none;
  font-size: 16px;
  padding: 10px;
  outline: none;
  width: 250px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#buscarbtn
{
  border: 1px solid #000000;
  border-left: none;
  font-size: 16px;
  padding: 10px;
  background: #f1d829;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#buscarbtn:hover
{
  background: #f6e049;
}
